# Copyright (C) 2026 Christian Rößner
#
# SPDX-License-Identifier: AGPL-3.0-only

global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend smtp_in
    bind *:25
    default_backend postfix_smtp

backend postfix_smtp
    server postfix postfix:25 check

frontend imap_in
    bind *:143
    default_backend director_imap

backend director_imap
    balance roundrobin
    server director-a director-a:10143 send-proxy check
    server director-b director-b:10143 send-proxy check

frontend imaps_in
    bind *:993
    default_backend director_imaps

backend director_imaps
    balance roundrobin
    server director-a director-a:10993 send-proxy check
    server director-b director-b:10993 send-proxy check

frontend lmtps_in
    bind *:2465
    default_backend director_lmtps

backend director_lmtps
    balance roundrobin
    server director-a director-a:11024 send-proxy check
    server director-b director-b:11024 send-proxy check

frontend stats
    mode http
    bind *:8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /
    stats refresh 10s
